<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
    //  fetch('http://localhost:3000/hoges/21')
    //      .then((ret) => {
    //        return ret.json();
    //      })
    //      .then((ret) => {
    //        console.log(ret)
    //      })
    //      .catch((err) => {
    //        console.error(err)
    //      })
    </script>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
